:root{       
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%); 
    --Darkgrayishblue: hsl(229, 8%, 62%);
    --White: hsl(0, 0%, 100%);
    --Darkgreen: hsl(156, 42%, 18%);
    }
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: hsl(30, 38%, 92%);
      padding: 3.75em 1.75em;
    }
    main{
      background-color: white;
      border-radius: .5em;
      height:fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 37.5em;
      transition: height 500ms linear, width 500ms linear;
    }

      .picture{
        background-image: url(images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 8px 0 0 8px;    
        width: 300px;
        height: 450px;
        background-size: 100%;
    }
    .Content{
      padding: 1.85em 2em 2em 2em;
    }
    .title{
      font-size: .75em;
      color: var(--Darkgrayishblue);
      letter-spacing: .4em;
      margin: 0;
      font-weight: 500;
      margin-top:-2em;
    }
    section ,span{
      font-family: Montserrat, system-ui,helvetica,arial;
    }
    h1, p{
      font-family: Fraunces, system-ui,Helvetica,arial;
      font-size: 2.1em;
    }
    h1{
      line-height: 1em; 
      margin-top: .65em; 
    }
    article{
      margin-top: 1.5em;
      color: var(--Darkgrayishblue);
      font-weight: 500;
      font-size: .87em;
      line-height: 1.7em;
    }
    
    s{
      font-size: .45em;
      vertical-align: middle;
      color: var(--Darkgrayishblue);
      font-weight: 400;
      margin-left: .75vw;
    }
    p{
      color: var(--Darkcyan);
      font-weight: 600;
      margin-top: .75em;
    }
    button{
      width: 100%;
      margin-top: 1.25em;
      font-size: .95em;
      font-weight: 500;
      padding: .85em 0 .85em 0 ;
      background-color: var(--Darkcyan);
      border: none;
      border-radius: .5em;
      color: white;
      vertical-align: middle;
      font-family: Montserat, system-ui,Helvetica,Arial;
      transition: background-color 300ms linear;
      cursor: pointer;
    }
    button:hover{
        background-color: var(--Darkgreen);
      }
    button img{
      margin-right: .75em;
    }
    .picture img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    @media (max-width:642px){
      main{
        grid-template-columns: 1fr;
        height: fit-content;
      }
      .picture{
        background-image: url(images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0 0; 
        width: 100%; 
      }
    }